@page "/d2"
@*@attribute [Authorize]*@
<h3>Demo2</h3>
<AuthorizeView>
    <Authorized>
        Hallo, @context.User.Identity.Name!
    </Authorized>
    <NotAuthorized>
        anmelden
    </NotAuthorized>
</AuthorizeView>
@code {

}
