@page "/pe"
<h3>RenderReihenfolge</h3>
<button @onclick="click">click</button>
@code {    
    protected override void OnInitialized()
    {

    }
    protected override void OnAfterRender(bool firstRender)
    {


    }
    void click()
        {

        }

}
